/* stylelint-disable color-hex-case */
html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: "Noto Sans KR", sans-serif;
	display: grid;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: content-box;
}

:root {
	--black: #3B434E;
	--gray: #A4A4A4;
	--gray-light: #EBEBEB;
	--gray-darck: #787D85;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #6f61a9;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans KR", sans-serif;
}